# Core Framework
dash==2.16.1
dash-bootstrap-components==1.5.0
Flask==2.3.3
gunicorn==21.2.0  # For production server

# Data Manipulation & Visualization
pandas==2.2.3
numpy==1.23.5
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.20.0

# ML & Forecasting
scikit-learn==1.4.2
xgboost==2.0.3
catboost==1.2.8
prophet==1.1.6  # Compatible with Python 3.11+
ta==0.11.0

# Utilities
yfinance==0.2.56
joblib==1.4.2
requests==2.31.0

tensorflow==2.15.0
dill