pandas
numpy
seaborn
matplotlib
scikit-learn
scipy
statsmodels
plotly
dash
dash-bootstrap-components
plotly_express
dash-core-components
dash-html-components
dash-renderer   
yfinance
requests
beautifulsoup4
tensorflow
keras
ta
prophet
xgboost
catboost
Flask





