<!DOCTYPE html>
<html>
<head>
    <title>Stock Dashboard Home</title>
    <!-- Cyborg Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cyborg/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stock Dashboard</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/analyze/">Analyze</a></li>
        <li class="nav-item"><a class="nav-link" href="/train/">Train & Forecast</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    <h1 class="text-primary">Welcome to Stock Analysis, Training, and Forecasting Portal</h1>
    <p>Select an option from the Navbar above to continue.</p>
</div>

</body>