<!DOCTYPE html>
<html>
<head>
    <title>Stock Dashboard Home</title>
    <!-- Cyborg Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cyborg/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stock Dashboard Home</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/analyze/">Analyze</a></li>
        <li class="nav-item"><a class="nav-link" href="/train/">Train & Forecast</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
    <h1 class="text-primary">Welcome to Stock Analysis, Training, and Forecasting Portal</h1>
    <p>Select an option from the Navbar above to continue.</p>

</div>

<div class="container mt-4">
    <h5 class="text-success">Features</h5>
    <p>This web application provides a comprehensive platform for stock analysis, training, and forecasting. It currently supports only the stocks which belong to NIFTY 50 Category in the National Stock Exchange(India)</p>
    <ul>
        <li>Analyze stock data with various metrics.</li>
        <li>Train models for stock price forecasting.</li>
        <li>Visualize stock trends and predictions.</li>
    </ul>

    <footer class="footer bg-dark text-light text-center py-3 mt-auto">
        <div class="container">
          <small class="d-block">
            Disclaimer: This app is for educational use only and does not provide financial advice.
            Do not use it for actual buying or selling of stocks.
          </small>
          <small class="d-block mt-1">
            Built by Kanishk Joshi. |
            LinkedIn: <a href="https://www.linkedin.com/in/kanishk-joshii/" target="_blank" class="text-info">Kanishk Joshi</a>
          </small>
        </div>
      </footer>



</body>